.logo {
    max-width: 100px;

    img {
        width: 100%;
    }
}

.navBar {
    margin-top: 40px;
}

.topBar {
    display: block;
}

.badgeCart {
    margin-left: 4px;
    color: #fff;
    background-color: #1E8186;
}
