@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #f1cfcf57;
}

a {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.row.fullwidth {
    width: 100%;
}

.navbar-right-column {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.flat-wrapper {
    box-shadow: rgba(0, 0, 0, 0.03) 0px 0px 7px 0px;
    background-color: #fff;
    border-radius: 5px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
